<p>Still need:
<ul>
	<li>place to show max/current hp</li>
	<li>show original AC, current AC</li>
	<li>link to update/change action</li>
	<li>option to roll-back entire round</li>
	<li>option to add player/monster</li>
	<li></li>
</ul>
</p>

<form>
<table border=0>
	<tr>
		<td align="center">
			<table border=1>
				<tr>
					<th colspan="2">Initiative Order</th>
				</tr>
				<tr>
					<td>Player1: 18<BR>
					Monster1: 16</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border=1>
				<tr>
					<th colspan=3>Actions...</th>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<th>Player 1</th>
					<th>Monster 1</th>
				</tr>
				<!-- BEGIN tracker_row -->
				<tr>
					<td rowspan=2>R1</td>
				</tr>
				<tr>
					<td nowrap>[attacked monster]: [hit 3 times]<br>
					[monster1, hit 2 times]: [-15hp]</td>
					<td nowrap>[player1, hit 3 times]: [-30hp]<br>
					[attacked player, hit 2 times]</td>
				</tr>
				<!-- END tracker_row -->
				<!-- BEGIN tracker_row -->
				<tr>
					<td rowspan=2>R2</td>
				</tr>
				<tr>
					<td nowrap>[attacked monster]: [hit 3 times]<br>
					[monster1, hit 2 times]: [-15hp]</td>
					<td nowrap>[player1, hit 3 times]: [-30hp]<br>
					[attacked player, hit 2 times]</td>
				</tr>
				<!-- END tracker_row -->
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table border=1>
				<tr>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>