
<div class="csbt_title">TTORP Campaign Page</div>

<div class="csbt_info">Select a campaign to do... stuff.</div>
<a href="#newCampaign" onClick="addCampaignDialog('newCampaign')">Create a new campaign...</a>
<div id="campaignList" class="campaignList">
	<div class="header">Campaigns</div>
	<!-- BEGIN campaignRow -->
		<div class="campaignBox">
			<div id="campaignId_%%campaign_id%%" class="header campaign campaignName">%%campaign_name%%</div>
			<div class="headerLink addPlayers hidden">
				[<a href="#addPlayers_%%campaign_id%%" OnClick="addPlayerDialog(%%campaign_id%%)">Add Players...</a>]
				[<a href="/member/ttorp/character/sheet?campaignId=%%campaign_id%%">Create New Character</a>]
			</div>
			<div class="note campaign description hidden">%%description%%</div>
			<div id="playerList">
				<ul>
					<!-- BEGIN campaignRow_playerRow --><li><a href="/member/ttorp/character/sheet?id=%%character_id%%" target="_blank">%%character_name%%</a> 
						<span class="note">%%character_level%%</span></li>
					<!-- END campaignRow_playerRow -->
					<!-- BEGIN campaignRow_noPlayerRow --><li>No Associated Players...</li><!-- END campaignRow_noPlayerRow -->
				</ul>
			</div>
		</div>
	<!-- END campaignRow -->
	<!-- BEGIN noCampaignRow --><div class="note">No campaigns... there should be a blurb here about why campaigns are important.  Or something... meh.</div><!-- END noCampaignRow -->
</div>

<div class="hidden" id="hiddenDialogs">
	<div class="dialog" id="newCampaign" title="Create New Campaign">
		<form method="POST">
			<div>
				<div id="newCampaignTitle">Campaign Name</div>
				<div><input name="name" type="text"></div>
			</div>
			<div>
				<div>Description</div>
				<div><textarea name="description"></textarea></div>
			</div>
			<input type="hidden" name="action" value="newCampaign">
			<input type="submit" value="Create"><a id="closeForm" href="#closeForm">Cancel</a>
		</form>
	</div>
	<div class="dialog" id="addPlayer" title="Add Player">
		<form method="POST">
			<div id="addPlayer_campaignName" class="header"></div>
			<div id="addPlayer">Player ID</div>
			<div><input id="playerId" name="playerId" type="text" autocomplete="off" /></div>
			<div id="addPlayer_name" class="note">Type an ID and the character's name will appear here</div>
			<input type="hidden" name="action" value="addPlayer">
			<input type="hidden" name="campaignId" id="addPlayerCampaignId" value="invalid">
			<input id="addPlayerSubmit" type="submit" value="Add" disabled="disabled"><a href="#closeForm" class="closeForm">Cancel</a>
		</form>
	</div>
</div>
