<link type="text/css" rel="stylesheet" href="/css/ttorp/ttorp.css">
<script language="javascript" src="/js/ttorp/ttorp.js" type="text/javascript"></script>

Powered by {CSBT_project_name}, v{CSBT_version}

<br style="clear: both;">
<form action="javascript:void(0);" method="post" id="charactersheet">
	<input type="hidden" name="character_id" id="form_character_id" value="{main__character_id}" />
	<table id="maintable" border="0">
		<tbody><tr>
		<td id="main">

			{sheet__characterInfo}

			<table id="stats" cellspacing="0">
			<tbody><tr>
				<td rowspan="2" class="unit top">
				{sheet__statsBlock}
				{sheet__actionPoints}
				
				</td>
				<td colspan="2" class="top">
				
				{sheet__hp-ac-dr}

				</td>
			</tr>
			<tr>
				<td class="unit top">
				{sheet__ac-TouchAndFF}
				{sheet__initiative}
				{sheet__speed}

				</td>
				<td rowspan="2">
				
				{sheet__imageAndLoads}
				
				</td>
			</tr>
			<tr>
				<td colspan="2">
				{sheet__saves}
				</td>
			</tr>
			</tbody></table>

			{sheet__attacks}

			<!--
			table.weapon are weapon slots.
			-->
			<div style="display:inline" class="weaponSlot" id="load__characterWeapon">
			{sheet__weapons}
			</div>
			<button class="createRecord" onClick="showNewRecordDialog('dialog__characterWeapon');">Add A Weapon</button>
			
			<div id="load__characterArmor">
			{sheet__armor}
			</div>
			<button class="createRecord" onClick="showNewRecordDialog('dialog__characterArmor');">Add Some Armor</button>


			<table id="skillsandgear">
			<tbody><tr>
				<td id="skillcontainer">
					{sheet__skills}
				</td>
				<td class="spacer"></td>

				<td id="featsandgearcontainer">

				<div id="load__specialAbility">
					{sheet__specialAbility}
				</div>
				<button class="newRecord" onClick="showNewRecordDialog('dialog__specialAbility')">Add Feat/Special Ability</button>
				
				<div id="load__gear">
					{sheet__gear}
				</div>
				<button class="newRecord" onClick="showNewRecordDialog('dialog__gear')">Add Gear</button>

				</td>
			</tr>
			</tbody></table>

			{sheet__notes}
			

		</td>
		
		</tr>
	</tbody></table>
</form>

<div class="dialog" class="hidden" style="display:none;">
	<div id="dialog__specialAbility" class="form">
		<div class="hidden title">Create a New Feat/Special Ability</div>
		New Special Ability/Feat: 
		<input name="specialAbility__special_ability_name__new" type="text" class="freestyle" />
		<input name="nameField" value="specialAbility__special_ability_name__new" class="hidden" />
		<input name="character_id" value="{main__character_id}" class="hidden" />
		<input name="tableName" value="specialAbility" class="hidden" />
		<input name="type" value="newRecord" class="hidden" />
		<button value="Create New Feat/Special Ability" class="submit" id="__THEBUTTON__" onClick="return false;">Create It!</button>
	</div>
	<div id="dialog__gear" class="form">
		<div class="hidden title">Add Some Gear</div>
		New Gear: 
		<input name="gear__gear_name__new" type="text" class="freestyle" />
		<input name="nameField" value="gear__gear_name__new" class="hidden" />
		<input name="character_id" value="{main__character_id}" class="hidden" />
		<input name="tableName" value="gear" class="hidden" />
		<input name="type" value="newRecord" class="hidden" />
		<button value="Create New Gear" class="submit" id="gearSubmitButton" onClick="return false;">Create It!</button>
	</div>
	<div id="dialog__characterWeapon" class="form">
		<div class="hidden title">Create a New Weapon</div>
		Weapon's Name:
			<input class="left nameField freestyle" title="Weapon's name" name="characterWeapon__weapon_name__new" value="">
			<input name="character_id" value="{main__character_id}" class="hidden" />
			<input name="nameField" value="characterWeapon__weapon_name__new" class="hidden" />
			<input name="tableName" value="characterWeapon" class="hidden" />
			<input name="type" value="newRecord" class="hidden" />
			<button value="Create New Weapon" class="submit" id="weaponSubmitButton" onClick="return false;">Create It!</button>
	</div>
	<div id="dialog__characterArmor" class="form">
		<div class="hidden title">Create New Armor</div>
		Armor Name:
			<input class="left nameField freestyle" title="Armor's name" name="characterArmor__armor_name__new" value="">
			<input name="character_id" value="{main__character_id}" class="hidden" />
			<input name="nameField" value="characterArmor__armor_name__new" class="hidden" />
			<input name="tableName" value="characterArmor" class="hidden" />
			<input name="type" value="newRecord" class="hidden" />
			<button value="Create New Armor" class="submit" id="armorSubmitButton" onClick="return false;">Create It!</button>
	</div>
</div>
