<table id="notes" style="width: 100%;" width="100%">
	<tbody>
		<tr class="header">
			<td>Notes</td>
		</tr>
		<tr>
			<td>
				<textarea title="Notes" 
						  id="main__notes" 
						  class="freestyle" 
						  cols="10" 
						  rows="10"
						  >{main__notes}</textarea>
			</td>
		</tr>
	</tbody>
</table>
