                <table id="init"> <!-- This is Action Points -->
                	<tbody><tr>
                    	<td class="tag">Action Points</td>
                        <td class="unit"><input title="Action points" id="main__action_points" value="{main__action_points}" type="text"></td>
                    </tr>
                </tbody></table>
