                <table id="specialAbility" border="0">
                  <tbody><tr class="title">
                    <td colspan="4">
                    	Feats &amp; Special Abilities
                    </td>
                  </tr>
                  <!-- BEGIN specialAbilitySlot -->
                  <tr class="specialAbilitySlot slot {addClassName}">
                    <td>
                      <input class="text nameField freestyle" title="This is a feat or a special ability (ID #{specialAbility_id})" 
					  	id="specialAbility__special_ability_name__{specialAbility_id}" value="{specialAbility__special_ability_name}" type="text">
                    </td>

                  </tr>
                  <!-- END specialAbilitySlot -->
                </tbody></table>
