                <table id="imgload">
                  <tbody><tr>
                    <td rowspan="6" class="piccell"><img id="pic" src="/images/clear.gif" alt="Character Portrait" title="Character Portrait"></td>
                    <td class="loadtext title">Light Load</td>
                    <td><input title="Light load" id="generated__load_light" class="derived hl--characterAbility__str_score" value="{generated__load_light}" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Med Load</td>
                    <td><input title="Medium load" id="generated__load_medium" class="derived hl--characterAbility__str_score" value="{generated__load_medium}" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Max Load</td>
                    <td><input title="Heavy load" id="generated__load_heavy" class="derived hl--characterAbility__str_score" value="{generated__load_heavy}" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Over Head</td>
                    <td><input title="Lift over head" id="generated__lift_over_head" class="derived hl--characterAbility__str_score" value="{generated__lift_over_head}" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Off Ground</td>
                    <td><input title="Lift off ground" id="generated__lift_off_ground" class="derived hl--characterAbility__str_score" value="{generated__lift_off_ground}" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Push / Drag</td>
                    <td><input title="Push, pull, or drag" id="generated__push_pull_drag" class="derived hl--characterAbility__str_score" value="{generated__push_pull_drag}" type="text" readonly="readonly"></td>
                  </tr>
                </tbody></table>
