          <table id="stats" cellspacing="0">
            <tbody><tr>
              <td rowspan="2" class="unit top">
                
                <table id="statblock">
                  <tbody><tr>
                    <td class="header">Ability</td>
                    <td class="header">Score</td>
                    <td class="header">Mod</td>
                    <td class="header">Temp<br>Score</td>
                    <td class="header">Temp<br>Mod</td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Strength" class="help">STR</span></td>
                    <td><input title="Strength" id="characterAbility__str_score" value="{characterAbility__str_score}" class="mod" type="text"></td>
                    <td><input title="Strength bonus" id="characterAbility__str_modifier" value="{characterAbility__str_modifier}" class="mod derived" type="text" readonly="readonly"></td>
                    <td><input title="TEMPORARY strength (total)" id="characterAbility__str_temp" value="{characterAbility__str_temp}" class="tempmod" type="text"></td>
                    <td><input title="TEMPORARY strength bonus" id="characterAbility__str_temp_mod" value="{characterAbility__str_temp_mod}" class="tempmod derived" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Dexterity" class="help">DEX</span></td>
                    <td><input title="Dexterity" id="characterAbility__dex_score" value="{characterAbility__dex_score}" class="mod" type="text"></td>
                    <td><input title="Dexterity bonus" id="characterAbility__dex_modifier" value="{characterAbility__dex_modifier}" class="mod derived" type="text" readonly="readonly" readonly="readonly"></td>
                    <td><input title="TEMPORARY dexterity (total)" id="characterAbility__dex_temp" value="{characterAbility__dex_temp}" class="tempmod" type="text"></td>
                    <td><input title="TEMPORARY dexterity bonus" id="characterAbility__dex_temp_mod" value="{characterAbility__dex_temp_mod}" class="tempmod derived" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Constitution" class="help">CON</span></td>
                    <td><input title="Constution" id="characterAbility__con_score" value="{characterAbility__con_score}" class="mod" type="text"></td>
                    <td><input title="Constitution bonus" id="characterAbility__con_modifier" value="{characterAbility__con_modifier}" class="mod derived" type="text" readonly="readonly"></td>
                    <td><input title="TEMPORARY constitution (total)" id="characterAbility__con_temp" value="{characterAbility__con_temp}" class="tempmod" type="text"></td>
                    <td><input title="TEMPORARY constitution bonus" id="characterAbility__con_temp_mod" value="{characterAbility__con_temp_mod}" class="tempmod derived" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Intelligence" class="help">INT</span></td>
                    <td><input title="Intelligence" id="characterAbility__int_score" value="{characterAbility__int_score}" class="mod" type="text"></td>
                    <td><input title="Intelligence bonus" id="characterAbility__int_modifier" value="{characterAbility__int_modifier}" class="mod derived" type="text" readonly="readonly"></td>
                    <td><input title="TEMPORARY intelligence (total)" id="characterAbility__int_temp" value="{characterAbility__int_temp}" class="tempmod" type="text"></td>
                    <td><input title="TEMPORARY intelligence bonus" id="characterAbility__int_temp_mod" value="{characterAbility__int_temp_mod}" class="tempmod derived" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Wisdom" class="help">WIS</span></td>
                    <td><input title="Wisdom" id="characterAbility__wis_score" value="{characterAbility__wis_score}" class="mod" type="text"></td>
                    <td><input title="Wisdom bonus" id="characterAbility__wis_modifier" value="{characterAbility__wis_modifier}" class="mod derived" type="text" readonly="readonly"></td>
                    <td><input title="TEMPORARY wisdom (total)" id="characterAbility__wis_temp" value="{characterAbility__wis_temp}" class="tempmod" type="text"></td>
                    <td><input title="TEMPORARY wisdom bonus" id="characterAbility__wis_temp_mod" value="{characterAbility__wis_temp_mod}" class="tempmod derived" type="text" readonly="readonly"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Charisma" class="help">CHA</span></td>
                    <td><input title="Charisma" id="characterAbility__cha_score" value="{characterAbility__cha_score}" class="mod" type="text"></td>
                    <td><input title="Charisma bonus" id="characterAbility__cha_modifier" value="{characterAbility__cha_modifier}" class="mod derived" type="text" readonly="readonly"></td>
                    <td><input title="TEMPORARY charisma (total)" id="characterAbility__cha_temp" value="{characterAbility__cha_temp}" class="tempmod" type="text"></td>
                    <td><input title="TEMPORARY charisma bonus" id="characterAbility__cha_temp_mod" value="{characterAbility__cha_temp_mod}" class="tempmod derived" type="text" readonly="readonly"></td>
                  </tr>
                </tbody></table>
