                <table id="init"> <!-- This is Touch and Flat-footed AC -->
                	<tbody><tr>
                    	<td class="tag">Touch</td>
						<!-- touch is its (full AC) - (any armor or natural armor bonus), and flatfooted is (full AC) - (any dex bonus). -->
                        <td class="unit"><input title="Touch AC (no armor/natural armor)" id="generated__ac_touch" 
							class="derived hl--placeholder_ac_dex hl--main__ac_size hl--main__ac_misc hl--placeholder_ac_base" value="{generated__ac_touch}" type="text" readonly="readonly"></td>
                        <td>
                        </td><td class="tag">Flat-footed</td>
                        <td class="unit"><input title="Flat-footed AC (no dex)" id="generated__ac_flatfooted" 
							class="hl--main__total_ac_bonus derived hl--main__ac_size hl--main__ac_misc hl--main__ac_natural hl--placeholder_ac_base" value="{generated__ac_flatfooted}" type="text" readonly="readonly"></td>
                    </tr>
                </tbody></table>
