<table id="speed">
	<tbody>
		<tr>
			<td>
				<input title="Speed" 
					   id="main__speed" 
					   value="{main__speed}" 
					   type="text">
			</td>
			<td>
				<input title="Base attack bonus" 
					   id="main__base_attack_bonus" 
					   value="{main__base_attack_bonus}" 
					   type="text">
			</td>
		</tr>
		<tr>
			<td class="footer">Speed</td>
			<td class="footer">Base Attack Bonus</td>
		</tr>
	</tbody>
</table>
