<table class="weapon" id="characterWeapon" cellspacing="0" cellpadding="4">
	<tbody>
		<!-- BEGIN characterWeaponSlot -->
		<tr class="slot header">
			<td title="Weapon ID #{characterWeapon_id}">&nbsp;</td>
		</tr>
		<tr class="slot header {addClassName}">
			<td class="type wide" title="Weapon ID #{characterWeapon_id}">
				<a class="delete" 
				   href="javascript:void(showDeleteRecordDialog('Weapon', {characterWeapon_id}, '{characterWeapon__weapon_name}', 'characterWeapon'));">[X]</a>
				Weapon</td>
			<td class="wide">Total Attack Bonus</td>
			<td class="medium">Damage</td>
			<td class="small">Critical</td>
			<td class="small">Range</td>
		</tr>
		<tr class="slot {addClassName} multiRowFirst multiRow data">
			<td>
				<span class="left nameField id_{characterWeapon_id} freestyle {addClassName}" 
					  title="Weapon's name" 
					  id="characterWeapon__weapon_name__{characterWeapon_id}"
					  >{characterWeapon__weapon_name}</span>
			</td>
			<td>
				<span title="Total attack bonus for this weapon" 
					  id="characterWeapon__total_attack_bonus__{characterWeapon_id}"
					  >{characterWeapon__total_attack_bonus}</span>
			</td>
			<td>
				<span title="Damage" 
					  id="characterWeapon__damage__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__damage}</span>
			</td>
			<td>
				<span title="Critical threat range" 
					  id="characterWeapon__critical__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__critical}</span>
			</td>
			<td>
				<span title="Range increment (applies only to throwable weapons)" 
					  id="characterWeapon__range__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__range}</span>
			</td>
		</tr>
		<tr class="slot header {addClassName}">
			<td>Special Properties</td>
			<td>Ammunition</td>
			<td>Weight</td>
			<td>Size</td>
			<td>Type</td>
		</tr>
		<tr class="slot bottomSpacer {addClassName} multiRowSecond multiRow data">
			<td>
				<span class="left freestyle" 
					  title="Special properties" 
					  id="characterWeapon__special__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__special}</span>
			</td>
			<td>
				<span title="Current ammunition (for ranged weapons)" 
					  id="characterWeapon__ammunition__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__ammunition}</span>
			</td>
			<td>
				<span title="Weight" 
					  id="characterWeapon__weight__{characterWeapon_id}"
					  >{characterWeapon__weight}</span>
			</td>
			<td>
				<span title="Size ([S]mall, [M]edium, [L]arge, [H]oly shit)" 
					  id="characterWeapon__size__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__size}</span>
			</td>
			<td>
				<span title="Damage type (slashing bludgeoning, etc)" 
					  id="characterWeapon__weapon_type__{characterWeapon_id}" 
					  class="freestyle"
					  >{characterWeapon__weapon_type}</span>
			</td>
		</tr>
		<!-- END characterWeaponSlot -->
	</tbody>
</table>
