<table id="init">
	<tbody>
		<tr>
			<td>
			</td><td class="header">Total</td>
			<td>
			</td><td class="header">Dex</td>
			<td>
			</td><td class="header">Misc</td>
		</tr>
		<tr>
			<td class="tag"><span class="help" title="Initiative">INIT</span></td>
			<td class="unit">
				<input title="Initiative" 
					   id="main__initiative_bonus" 
					   value="{main__initiative_bonus}" 
					   type="text" 
					   class="derived" 
					   readonly="readonly">
			</td>
			<td class="char">=</td>
			<td class="unit">
				<input title="Dex modifier" 
					   id="initiative__characterAbility__dex_modifier" 
					   class="derived hl--characterAbility__dex_modifier characterAbility__dex_modifier" 
					   value="{characterAbility__dex_modifier}" 
					   type="text" 
					   readonly="readonly">
			</td>
			<td class="char">+</td>
			<td class="unit">
				<input title="Miscellaneous modifier for initiative" 
					   id="main__initiative_misc" 
					   value="{main__initiative_misc}" 
					   type="text">
			</td>
		</tr>
	</tbody>
</table>
