<table id="info" cellspacing="0">
	<tbody><tr>
		<td colspan="2">
			<input title="Your character's name" 
				   id="main__character_name" 
				   class="freestyle" 
				   value="{main__character_name}" 
				   type="text">
			<br>Character Name
		</td>
		<td colspan="2">
			<input name="generated__player-FIXME" 
				   title="Player name [display name for your account]" 
				   id="generated__player" 
				   class="freestyle" 
				   class="derived" 
				   value="FIXME{generated__player}" 
				   readonly="readonly">
			<br>Player
		</td>
		<td>
			<input title="Alignment" 
				   id="main__alignment" 
				   class="freestyle" 
				   value="{main__alignment}" 
				   type="text">
			<br>Alignment
		</td>
		<td>
			<input title="Current XP" 
				   id="main__xp_current" 
				   value="{main__xp_current}" 
				   type="text" 
				   readonly="readonly">
			<br>Current XP
		</td>
		<td>
			<input title="XP to next level" 
				   id="main__xp_next" 
				   value="{main__xp_next}" 
				   type="text">
			<br>Next Level XP
		</td>
		<td>
			<input title="Add this value to the current XP (so you don't have to calculate anything)" 
				   id="main__xp_change" 
				   value="" 
				   type="text">
			<br>XP Change
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input title="Class(es) and associated level(s)" 
				   id="main__character_level" 
				   class="freestyle" 
				   value="{main__character_level}" 
				   type="text">
			<br>Class
		</td>
		<td colspan="2">
			<input title="Race" 
				   id="main__race" 
				   class="freestyle" 
				   value="{main__race}" 
				   type="text">
			<br>Race
		</td>
		<td colspan="2">
			<input title="Campaign Description: {generated__campaign_description}" 
				   id="generated__campaign_name" 
				   class="derived" 
				   value="{generated__campaign_name}" 
				   type="text" 
				   disabled="disabled">
			<br>Campaign
		</td>
		<td colspan="2">
			<input title="Deity" 
				   id="main__deity" 
				   class="freestyle" 
				   value="{main__deity}" 
				   type="text">
			<br>Deity
		</td>
	</tr>
	<tr>
		<td class="unit">
			<input title="Level" 
				   id="generated__level-FIXME" 
				   class="freestyle" 
				   value="FIXME" 
				   type="text" 
				   readonly="readonly">
			<br>Level
		</td>
		<td class="unit">
			<input title="Size" 
				   id="main__size" 
				   class="freestyle" 
				   value="{main__size}" 
				   type="text">
			<br>Size
		</td>
		<td class="unit">
			<input title="Age" 
				   id="main__character_age" 
				   value="{main__character_age}" 
				   type="text">
			<br>Age
		</td>
		<td class="unit"><input title="Gender" id="main__gender" class="freestyle" value="{main__gender}" type="text"><br>Gender</td>
		<td class="unit"><input title="Height" id="main__height" class="freestyle" value="{main__height}" type="text"><br>Height</td>
		<td class="unit"><input title="Weight" id="main__weight" value="{main__weight}" type="text"><br>Weight</td>
		<td class="unit"><input title="Eye color" id="main__eye_color" class="freestyle" value="{main__eye_color}" type="text"><br>Eyes</td>
		<td class="unit"><input title="Hair color" id="main__hair_color" class="freestyle" value="{main__hair_color}" type="text"><br>Hair</td>
	</tr>
</tbody></table>
