 
    <link type="text/css" rel="stylesheet" href="/css/dnd.css">

<style type="text/css">
body {
	margin: 0;
	padding: 0;
}
</style>

<div style="padding: 0px; position: relative; top: 0pt; left: 0pt; margin-bottom: 6px; width: 100%; text-align: left; font-size: 11px;">

</div>
<br style="clear: both;">
    <form action="" method="post" id="charactersheet">

<table id="maintable" border="10">
      <tbody><tr>
        <td>
          <!-- Left buffer cell -->
        </td>
        <td id="main">

          <table id="info" cellspacing="0">
            <tbody><tr>
              <td colspan="2"><input name="main[character_name]" title="Your character's name" id="main_character_name" value="{main_character_name}" type="text"><br>Character Name</td>
              <td colspan="2"><input name="generated[player]" title="Player name [display name for your account]" id="generated-player" value="{generated-player}"><br>Player</td>
              <td><input name="generic[alignment]" title="Alignment" id="generic-alignment" value="{generic-alignment}" type="text"><br>Alignment</td>
              <td><input name="xp[current]" title="Current XP" id="xp-current" value="{xp-current}" type="text"><br>Current XP</td>
              <td><input name="xp[next]" title="XP to next level" id="xp-next" value="{xp-next}" type="text"><br>Next Level XP</td>
              <td><input name="xp[change]" title="Add this XP..." id="xp-change" value="{xp-change}" type="text"><br>XP Change</td>
            </tr>
            <tr>
              <td colspan="2"><input name="generic[class]" title="CURRENT class" id="generic-class" value="{generic-class}" type="text"><br>Class</td>
              <td colspan="2"><input name="generic[race]" title="Race" id="generic-race" value="{generic-race}" type="text"><br>Race</td>
              <td colspan="2"><input name="generic[campaign]" title="Campaign" id="generic-campaign" value="{generic-campaign}" type="text"><br>Campaign</td>
              <td colspan="2"><input name="generic[deity]" title="Deity" id="generic-deity" value="{generic-deity}" type="text"><br>Deity</td>
            </tr>
            <tr>
              <td class="unit"><input name="class_total[level]" title="Level" id="class_total-level" value="{class_total-level}" type="text"><br>Level</td>
              <td class="unit"><input name="generic[size]" title="Size" id="generic-size" value="{generic-size}" type="text"><br>Size</td>
              <td class="unit"><input name="generic[age]" title="Age" id="generic-age" value="{generic-age}" type="text"><br>Age</td>
              <td class="unit"><input name="generic[gender]" title="Gender" id="generic-gender" value="{generic-gender}" type="text"><br>Gender</td>
              <td class="unit"><input name="generic[height]" title="Height" id="generic-height" value="{generic-height}" type="text"><br>Height</td>
              <td class="unit"><input name="generic[weight]" title="Weight" id="generic-weight" value="{generic-weight}" type="text"><br>Weight</td>
              <td class="unit"><input name="generic[eyes]" title="Eye color" id="generic-eyes" value="{generic-eyes}" type="text"><br>Eyes</td>
              <td class="unit"><input name="generic[hair]" title="Hair color" id="generic-hair" value="{generic-hair}" type="text"><br>Hair</td>
            </tr>
          </tbody></table>

          <table id="stats" cellspacing="0">
            <tbody><tr>
              <td rowspan="2" class="unit top">
                
                <table id="statblock">
                  <tbody><tr>
                    <td class="header">Ability</td>
                    <td class="header">Score</td>
                    <td class="header">Mod</td>
                    <td class="header">Temp<br>Score</td>
                    <td class="header">Temp<br>Mod</td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Strength" class="help">STR</span></td>
                    <td><input name="abilities[str][base]" title="Strength" id="abilities-str-base" value="{abilities-str-base}" class="mod" type="text"></td>
                    <td><input name="abilities[str][mod]" title="Strength bonus" id="abilities-str-mod" value="{abilities-str-mod}" class="mod" type="text"></td>
                    <td><input name="abilities[str][temp]" title="TEMPORARY strength (total)" id="abilities-str-temp" value="{abilities-str-temp}" class="tempmod" type="text"></td>
                    <td><input name="abilities[str][temp_mod]" title="TEMPORARY strength bonus" id="abilities-str-temp_mod" value="{abilities-str-temp_mod}" class="tempmod" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Dexterity" class="help">DEX</span></td>
                    <td><input name="abilities[dex][base]" title="Dexterity" id="abilities-dex-base" value="{abilities-dex-base}" class="mod" type="text"></td>
                    <td><input name="abilities[dex][mod]" title="Dexterity bonus" id="abilities-dex-mod" value="{abilities-dex-mod}" class="mod" type="text"></td>
                    <td><input name="abilities[dex][temp]" title="TEMPORARY dexterity (total)" id="abilities-dex-temp" value="{abilities-dex-temp}" class="tempmod" type="text"></td>
                    <td><input name="abilities[dex][temp_mod]" title="TEMPORARY dexterity bonus" id="abilities-dex-temp_mod" value="{abilities-dex-temp_mod}" class="tempmod" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Constitution" class="help">CON</span></td>
                    <td><input name="abilities[con][base]" title="Constution" id="abilities-con-base" value="{abilities-con-base}" class="mod" type="text"></td>
                    <td><input name="abilities[con][mod]" title="Constitution bonus" id="abilities-con-mod" value="{abilities-con-mod}" class="mod" type="text"></td>
                    <td><input name="abilities[con][temp]" title="TEMPORARY constitution (total)" id="abilities-con-temp" value="{abilities-con-temp}" class="tempmod" type="text"></td>
                    <td><input name="abilities[con][temp_mod]" title="TEMPORARY constitution bonus" id="abilities-con-temp_mod" value="{abilities-con-temp_mod}" class="tempmod" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Intelligence" class="help">INT</span></td>
                    <td><input name="abilities[int][base]" title="Intelligence" id="abilities-int-base" value="{abilities-int-base}" class="mod" type="text"></td>
                    <td><input name="abilities[int][mod]" title="Intelligence bonus" id="abilities-int-mod" value="{abilities-int-mod}" class="mod" type="text"></td>
                    <td><input name="abilities[int][temp]" title="TEMPORARY intelligence (total)" id="abilities-int-temp" value="{abilities-int-temp}" class="tempmod" type="text"></td>
                    <td><input name="abilities[int][temp_mod]" title="TEMPORARY intelligence bonus" id="abilities-int-temp_mod" value="{abilities-int-temp_mod}" class="tempmod" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Wisdom" class="help">WIS</span></td>
                    <td><input name="abilities[wis][base]" title="Wisdom" id="abilities-wis-base" value="{abilities-wis-base}" class="mod" type="text"></td>
                    <td><input name="abilities[wis][mod]" title="Wisdom bonus" id="abilities-wis-mod" value="{abilities-wis-mod}" class="mod" type="text"></td>
                    <td><input name="abilities[wis][temp]" title="TEMPORARY wisdom (total)" id="abilities-wis-temp" value="{abilities-wis-temp}" class="tempmod" type="text"></td>
                    <td><input name="abilities[wis][temp_mod]" title="TEMPORARY wisdom bonus" id="abilities-wis-temp_mod" value="{abilities-wis-temp_mod}" class="tempmod" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Charisma" class="help">CHA</span></td>
                    <td><input name="abilities[cha][base]" title="Charisma" id="abilities-cha-base" value="{abilities-cha-base}" class="mod" type="text"></td>
                    <td><input name="abilities[cha][mod]" title="Charisma bonus" id="abilities-cha-mod" value="{abilities-cha-mod}" class="mod" type="text"></td>
                    <td><input name="abilities[cha][temp]" title="TEMPORARY charisma (total)" id="abilities-cha-temp" value="{abilities-cha-temp}" class="tempmod" type="text"></td>
                    <td><input name="abilities[cha][temp_mod]" title="TEMPORARY charisma bonus" id="abilities-cha-temp_mod" value="{abilities-cha-temp_mod}" class="tempmod" type="text"></td>
                  </tr>
                </tbody></table>
                
                <table id="init"> <!-- This is Action Points -->
                	<tbody><tr>
                    	<td class="tag">Action Points</td>
                        <td class="unit"><input name="generic[action_points]" title="Action points" id="generic-action_points" value="{generic-action_points}" type="text"></td>
                    </tr>
                </tbody></table>
                
              </td>
              <td colspan="2" class="top">
                
                <table id="hp">
                  <tbody><tr>
                    <td>
                    </td><td class="header"><br>TOTAL</td>
                    <td>
                    </td><td class="header" colspan="3">Current HP</td>
                    <td>
                    </td><td class="header" colspan="3">Nonlethal Damage</td>
                    <td>
                    </td><td class="header" colspan="3">Hit Dice</td>
                    <td>
                    </td><td class="header" colspan="3"><span title="Damage Reduction" class="help">Damage Reduction</span></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Hit Points" class="help">HP</span></td>
                    <td><input name="generic[hp]" title="Hit points" id="" value="{generic-hp}" type="text"></td>
                    <td>
                    </td><td colspan="3"><input name="status[current_hp]" title="Current hit points" id="status-current_hp" value="{status-current_hp}" type="text"></td>
                    <td>
                    </td><td colspan="3"><input name="status[nonlethal_damage]" title="Nonlethal damage" id="" value="{status-nonlethal_damage}" type="text"></td>
                    <td>
                    </td><td colspan="3"><input name="current_class[hit_dice]" title="Hit dice for your CURRENT class" id="current_class-hit_dice" value="{current_class-hit_dice}" type="text"></td>
                    <td>
                    </td><td colspan="3"><input name="special[damage_reduction]" title="DamageRed" id="special-damage_reduction" value="{special-damage_reduction}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span title="Armor Class" class="help">AC</span></td>
                    <td class="unit"><input name="ac[total]" title="AC" id="ac-total" value="{ac-total}" type="text"></td>
                    <td class="char">=</td>
                    <td class="basenum"><span>10</span></td>
                    <td class="char">+</td>
                    <td class="unit"><input name="ac[armor]" title="Armor class (add AC bonus from all worn protective items)" id="ac-armor" value="{ac-armor}" type="text"></td>
                    <td class="char">+</td>
                    <td class="unit"><input name="ac[shield]" title="AC bonus from shield" id="ac-shield" value="{ac-shield}" type="text"></td>
                    <td class="char">+</td>
                    <td class="unit"><input title="Dexterity modifier" id="AC__abilities-dex-mod" value="{abilities-dex-mod}" type="text" readonly="readonly"></td>
                    <td class="char">+</td>
                    <td class="unit"><input name="ac[size_modifier]" title="Size modifier for AC" id="ac-size_modifier" value="{ac-size_modifier}" type="text"></td>
                    <td class="char">+</td>
                    <td class="unit"><input name="ac[deflect]" title="Deflection bonus to AC" id="ac-deflect" value="{ac-deflect}" type="text"></td>
                    <td class="char">+</td>
                    <td class="unit"><input name="ac[natural]" title="Natural armor bonus" id="ac-natural" value="{ac-natural}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td class="unit"><input name="ac[misc]" title="Misc. modifier to AC" id="ac-shield" value="{ac-misc}" type="text"></td>
                  </tr>
                  <tr>
                    <td>
                    </td><td class="footer">TOTAL</td>
                    <td>
                    </td><td>
                    </td><td>
                    </td><td class="footer">Armor</td>
                    <td>
                    </td><td class="footer">Shield</td>
                    <td>
                    </td><td class="footer">Dex</td>
                    <td>
                    </td><td class="footer">Size</td>
                    <td>
                    </td><td class="footer">Natural</td>
                    <td>
                    </td><td class="footer">Deflect</td>
                    <td>
                    </td><td class="footer">Misc</td>
                  </tr>
                </tbody></table>

              </td>
            </tr>
            <tr>
              <td class="unit top">
              
                <table id="init"> <!-- This is Touch and Flat-footed AC -->
                	<tbody><tr>
                    	<td class="tag">Touch</td>
                        <td class="unit"><input name="ac[touch]" title="Touch AC" id="ac-touch" value="{ac-touch}" type="text"></td>
                        <td>
                        </td><td class="tag">Flat-footed</td>
                        <td class="unit"><input name="ac[flat_footed]" title="Flat-footed AC" id="ac-flat_footed" value="{ac-flat_footed}" type="text"></td>
                    </tr>
                </tbody></table>
                
                <table id="init">
                  <tbody><tr>
                    <td>
                    </td><td class="header">Total</td>
                    <td>
                    </td><td class="header">Dex</td>
                    <td>
                    </td><td class="header">Misc</td>
                  </tr>
                  <tr>
                    <td class="tag"><span class="help" title="Initiative">INIT</span></td>
                    <td class="unit"><input name="init[total]" title="Initiative" id="init-total" value="{init-total}" type="text"></td>
                    <td class="char">=</td>
                    <td class="unit"><input title="Dex modifier" id="abilities-dex-mod" value="{abilities-dex-mod}" type="text" readonly="readonly"></td>
                    <td class="char">+</td>
                    <td class="unit"><input name="init[misc]" title="Miscellaneous modifier for initiative" id="init-misc" value="{init-misc}" type="text"></td>
                  </tr>
                </tbody></table>

                <table id="speed">
                  <tbody><tr>
                    <td><input name="speed[total]" title="Speed" id="speed-total" value="{speed-total}" type="text"></td>
                    <td><input name="generic[base_attack_bonus]" title="Base attack bonus" id="" value="{generic-base_attack_bonus}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="footer">Speed</td>
                    <td class="footer">Base Attack Bonus</td>
                  </tr>
                </tbody></table>

              </td>
              <td rowspan="2">
              
                <table id="imgload">
                  <tbody><tr>
                    <td rowspan="6" class="piccell"><img id="pic" src="/images/clear.gif" alt="Character Portrait"></td>
                    <td class="loadtext title">Light<br>Load</td>
                    <td class="loadinputs"><input name="weight[light_load]" title="Light load" id="weight-light_load" value="{weight-light_load}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Med<br>Load</td>
                    <td><input name="weight[medium_load]" title="Medium load" id="weight-medium_load" value="{weight-medium_load}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Max<br>Load</td>
                    <td><input name="weight[heavy_load]" title="Heavy load" id="weight-heavy_load" value="{weight-heavy_load}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Over<br>Head</td>
                    <td><input name="weight[lift_over_head]" title="Lift over head" id="weight-lift_over_head" value="{weight-lift_over_head}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Off<br>Ground</td>
                    <td><input name="weight[lift_off_ground]" title="Lift off ground" id="weight-lift_off_ground" value="{weight-lift_off_ground}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="loadtext title">Push/<br>Drag</td>
                    <td><input name="weight[lift_push_drag]" title="Lift, push, or drag" id="weight-lift_push_drag" value="{weight-lift_push_drag}" type="text"></td>
                  </tr>
                </tbody></table>
              
              </td>
            </tr>
            <tr>
              <td colspan="2">
              
                <table id="saves">
                  <tbody><tr>
                    <td class="header">Saving Throws</td>
                    <td>
                    </td><td class="header">Total</td>
                    <td>
                    </td><td class="header">Base</td>
                    <td>
                    </td><td class="header">Ability<br>Mod</td>
                    <td>
                    </td><td class="header">Magic<br>Mod</td>
                    <td>
                    </td><td class="header">Misc<br>Mod</td>
                    <td>
                    </td><td class="header">Temp<br>Mod</td>
                  </tr>
                  <tr>
                    <td class="tag"><span class="help" title="Fortitude: Based on Constitution">FORTITUDE</span></td>
                    <td>
                    </td>
                    <td class="unit"><input name="save[fort][total]" title="Total fortitude save" id="save-fort-total" value="{save-fort-total}" type="text"></td>
                    <td class="char"><span class="dark">=</span></td>
                    <td class="unit"><input name="save[fort][base]" title="Fortitude base save -- USE HIGHEST FROM CHOSEN CLASSES" id="" value="{save-fort-base}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td class="unit"><input title="Ability modifier (strength)" id="SAVE__abilities-str-mod" value="{abilities-str-mod}" type="text" readonly="readonly"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td class="unit"><input name="save[fort][magic]" title="Magic modifier" id="save-fort-magic" value="{save-fort-magic}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td class="unit"><input name="save[fort][misc]" title="Misc. modifier" id="save-fort-misc" value="{save-fort-misc}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td class="unit"><input name="save[fort][temp]" class="temp" title="Temporary modifier" id="save-fort-temp" value="{save-fort-temp}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span class="help" title="Reflex: Based on Dexterity">REFLEX</span></td>
                    <td>
                    </td><td><input name="save[reflex][total]" title="Total reflex save" id="save-reflex-total" value="{save-reflex-total}" type="text"></td>
                    <td class="char"><span class="dark">=</span></td>
                    <td><input name="save[reflex][base]" title="Reflex base save" id="save-reflex-base" value="{save-reflex-base}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input title="Ability modifier (dexterity)" id="SAVE__abilities-dex-mod" value="{abilities-dex-mod}" type="text" readonly="readonly"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input name="save[reflex][magic]" title="Magic modifier" id="save-reflex-magic" value="{save-reflex-magic}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input name="save[reflex][misc]" title="Misc. modifier" id="save-reflex-misc" value="{save-reflex-misc}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input class="temp" name="save[reflex][temp]" title="Temporary modifier" id="save-reflex-temp" value="{save-reflex-temp}" type="text"></td>
                  </tr>
                  <tr>
                    <td class="tag"><span class="big help" title="Will: Based on Wisdom">WILL</span></td>
                    <td>
                    </td><td><input name="save[will][total]" title="Will save" id="save-will-total" value="{save-will-total}" type="text"></td>
                    <td class="char"><span class="dark">=</span></td>
                    <td><input name="save[will][base]" title="Will base save" id="save-will-base" value="{save-will-base}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input title="WillAbility" id="SAVE__abilities-wis-mod" value="{abilities-wis-mod}" type="text" readonly="readonly"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input name="save[will][magic]" title="Magic modifier" id="save-will-magic" value="{save-will-magic}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input name="save[will][misc]" title="Misc. modifier" id="save-will-misc" value="{save-will-misc}" type="text"></td>
                    <td class="char"><span class="dark">+</span></td>
                    <td><input class="temp" name="save[will][temp]" title="Temporary modifier" id="save-will-temp" value="{save-will-temp}" type="text"></td>
                  </tr>
                </tbody></table>

              </td>
            </tr>
          </tbody></table>

          <!--
            table#attacks contains the base melee and ranged attack bonuses.
          -->

          <table id="attacks">
            <tbody><tr>
              <td>
              </td><td class="header">Total Attack Bonus</td>
              <td>
              </td><td class="header">Base Attack Bonus</td>
              <td>
              </td><td class="header">Str Mod</td>
              <td>
              </td><td class="header">Size Mod</td>
              <td>
              </td><td class="header">Misc Mod</td>
              <td>
              </td><td class="header">Temp Mod</td>
            </tr>
            <tr>
              <td class="tag"><span class="help" title="Melee Attack Bonus">MELEE</span></td>
              <td class="wide"><input name="melee[total]" title="Melee Attack Bonus" id="" value="{melee-total}" type="text"></td>
              <td class="char">=</td>
              <td class="wide"><input title="Base attack bonus" id="MELEE__generic-base_attack_bonus" value="{generic-base_attack_bonus}" type="text" readonly="readonly"></td>
              <td class="char">+</td>
              <td class="unit"><input title="Strength modifier" id="MELEE__abilities-str-mod" value="{abilities-str-mod}" type="text" readonly="readonly"></td>
              <td class="char">+</td>
              <td class="unit"><input name="melee[size_mod]" title="Size modifier" id="melee-size_mod" value="{melee-size_mod}" type="text"></td>
              <td class="char">+</td>
              <td class="unit"><input name="melee[miscmod]" title="Miscellaneous modifer" id="melee-miscmod" value="{melee-miscmod}" type="text"></td>
              <td class="char">+</td>
              <td class="unit"><input class="temp" name="melee[temp_mod]" title="Temporary melee attack modifier" id="melee-temp_mod" value="{melee-temp_mod}" type="text"></td>
            </tr>
            <tr>
              <td class="tag"><span class="help" title="Ranged Attack Bonus">RANGED</span></td>
              <td class="wide"><input name="ranged[total]" title="Total ranged attack bonus" id="ranged-total" value="{ranged-total}" type="text"></td>
              <td class="char">=</td>
              <td class="wide"><input title="Base attack bonus" id="RANGED__generic-base_attack_bonus" value="{generic-base_attack_bonus}" type="text" readonly="readonly"></td>
              <td class="char">+</td>
              <td class="unit"><input title="Dexterity modifier" id="RANGED__abilities-dex-mod" value="{abilities-dex-mod}" type="text" readonly="readonly"></td>
              <td class="char">+</td>
              <td class="unit"><input name="ranged[size_mod]" title="Size modifier" id="ranged-size_mod" value="{ranged-size_mod}" type="text"></td>
              <td class="char">+</td>
              <td class="unit"><input name="ranged[misc_mod]" title="Miscellaneous modifier" id="ranged-misc_mod" value="{ranged-misc_mod}" type="text"></td>
              <td class="char">+</td>
              <td class="unit"><input class="temp" name="ranged[temp_mod]" title="Temporary ranged attack modifier" id="ranged-temp_mod" value="{ranged-temp_mod}" type="text"></td>
            </tr>
            <tr>
              <td>
              </td><td class="footer">Total Attack Bonus</td>
              <td>
              </td><td class="footer">Base Attack Bonus</td>
              <td>
              </td><td class="footer">Dex Mod</td>
              <td>
              </td><td class="footer">Size Mod</td>
              <td>
              </td><td class="footer">Misc Mod</td>
              <td>
              </td><td class="footer">Temp Mod</td>
            </tr>
          </tbody></table>
          
          <!--
            table.weapon are weapon slots.
          -->
          <!-- BEGIN weaponSlot -->
          <div style="display:inline" id="weaponSlot_{wsNum}">
          <table class="weapon" cellspacing="0">
            <tbody><tr class="header">
              <td class="type wide">Weapon</td>
              <td class="wide">Total Attack Bonus</td>
              <td class="medium">Damage</td>
              <td class="small">Critical</td>
              <td class="small">Range</td>
            </tr>
            <tr>
              <td><input class="left" name="weaponSlot[{wsNum}][name]" title="Weapon's name" id="weaponSlot-{wsNum}-name" value="{name}"></td>
              <td><input name="weaponSlot[{wsNum}][totalatk]" title="Total attack bonus for this weapon" id="weaponSlot-{wsNum}-totalatk" value="{weaponSlot-{wsNum}-totalatk}"></td>
              <td><input name="weaponSlot[{wsNum}][damage]" title="Damage" id="weaponSlot-{wsNum}-damage" value="{weaponSlot-{wsNum}-damage}"></td>
              <td><input name="weaponSlot[{wsNum}][critical_range]" title="Critical threat range" id="weaponSlot-{wsNum}-critical_range" value="{weaponSlot-{wsNum}-critical_range}"></td>
              <td><input name="weaponSlot[{wsNum}][ranged]" title="Range increment (applies only to throwable weapons)" id="weaponSlot-{wsNum}-ranged" value="{weaponSlot-{wsNum}-ranged}"></td>
            </tr>
            <tr class="header">
              <td>Special Properties</td>
              <td>Ammunition</td>
              <td>Weight</td>
              <td>Size</td>
              <td>Type</td>
            </tr>
            <tr>
              <td><input class="left" name="weaponSlot[{wsNum}][special]" title="Special properties" id="weaponSlot-{wsNum}-special" value="{weaponSlot-{wsNum}-special}"></td>
              <td><input name="weaponSlot[{wsNum}][ammo]" title="Current ammunition (for ranged weapons)" id="weaponSlot-{wsNum}-ammo" value="{weaponSlot-{wsNum}-ammo}"></td>
              <td><input name="weaponSlot[{wsNum}][weight]" title="Weight" id="weaponSlot-{wsNum}-ammo" value="{weaponSlot-{wsNum}-weight}"></td>
              <td><input name="weaponSlot[{wsNum}][size]" title="Size ([S]mall, [M]edium, [L]arge, [H]oly shit)" id="weaponSlot-{wsNum}-ammo" value="{weaponSlot-{wsNum}-size}"></td>
              <td><input name="weaponSlot[{wsNum}][type]" title="Damage type (slashing bludgeoning, etc)" id="weaponSlot-{wsNum}-ammo" value="{weaponSlot-{wsNum}-type}"></td>
            </tr>
          </tbody></table></div>
          <!-- END weaponSlot -->
          
          <!--
            table.armor are armor slots.
          -->
          <!-- BEGIN armorSlot -->
          <table class="armor" cellspacing="0">
            <tbody><tr class="header">
              <td class="type wide">Armor/Protective Item</td>
              <td class="small">Type</td>
              <td class="small">AC Bonus</td>
              <td class="small">Check Pen</td>
              <td class="small">Max Dex</td>
            </tr>
            <tr>
              <td><input class="left" name="armorSlot[{asNum}][name]" title="Armor (or protective item)'s name" id="armorSlot-{asNum}-name" value="{armorSlot-{asNum}-name}"></td>
              <td><input name="armorSlot[{asNum}][type]" title="Type of armor (light, medium, heavy)" id="armorSlot-{asNum}-type" value="{armorSlot-{asNum}-type}"></td>
              <td><input name="armorSlot[{asNum}][acbonus]" title="AC Bonus" id="armorSlot-{asNum}-acbonus" value="{armorSlot-{asNum}-acbonus}"></td>
              <td><input name="armorSlot[{asNum}][checkpenalty]" title="Armor check penalty" id="armorSlot-{asNum}-checkpenalty" value="{armorSlot-{asNum}-checkpenalty}"></td>
              <td><input name="armorSlot[{asNum}][dexbonus]" title="Maximum dexterity bonus" id="armorSlot-{asNum}-dexbonus" value="{armorSlot-{asNum}-dexbonus}"></td>
            </tr>
            <tr class="header">
              <td colspan="2">Special Properties</td>
              <td>Weight</td>
              <td>Spell Fail</td>
              <td>Speed</td>
            </tr>
            <tr>
              <td colspan="2"><input class="left" name="armorSlot[{asNum}][special]" title="Special properties" id="armorSlot-{asNum}-special" value="{armorSlot-{asNum}-special}"></td>
              <td><input name="armorSlot[{asNum}][weight]" title="Weight of armor (or item)" id="armorSlot-{asNum}-special" value="{armorSlot-{asNum}-weight}"></td>
              <td><input name="armorSlot[{asNum}][spellfail]" title="Arcane spell failure %" id="armorSlot-{asNum}-special" value="{armorSlot-{asNum}-spellfail}"></td>
              <td><input name="armorSlot[{asNum}][speed]" title="Maximum speed while wearing this armor" id="armorSlot-{asNum}-special" value="{armorSlot-{asNum}-speed}"></td>
            </tr>
          </tbody></table>
          <!-- END armorSlot -->


          <!--
            table#skillsandgear holds both the skills and gear tables
          -->

          <table id="skillsandgear">
            <tbody><tr>
              <td id="skillcontainer">

                <table id="skills" cellpadding="0" cellspacing="0">
                  <tbody><tr class="title">
                    <td colspan="10">
                      <div id="skillranks">
                        <div>
                          <input name="generic[skills][maxrank]" title="Maximum ranks for class skills" id="generic-skills-maxrank" value="{generic-skills-maxrank}" type="text">/
                          <input name="generic[skills][maxcc]" title="Maximum ranks for cross-class (CC) skills" id="generic-skills-maxcc" value="{generic-skills-maxcc}" type="text">
                        </div>
                        Max Rank
                      </div>
                      Skills
                    </td>
                  </tr>
                  <tr class="header">
                    <td class="name"><div id="skillSort_name" title="Sort by Skill Name">Skill Name</div></td>
                    <td><div id="skillSort_ability" title="Sort by Key Ability">Key<br>Ab</div></td>
                    <td><div id="skillSort_class" title="Sort by Cross Class">CC</div></td>
                    <td><div id="skillSort_skillmodifier" title="Sort by Skill Modifier">Skill<br>Mod</div></td>
                    <td>
                    </td><td><div id="skillSort_abmodifier" title="Sort by Ability Modifier">Ab<br>Mod</div></td>
                    <td>
                    </td><td><div id="skillSort_rank" title="Sort by Rank">Rank</div></td>
                    <td>
                    </td><td><div id="skillSort_misc" title="Sort by Miscellaneous Modifier">Misc<br>Mod</a></td>
                  </tr>
                  <!-- BEGIN skillRow -->
		          <tr class="skillslot">
                    <td class="name"><input class="text" name="skills[{skillNum}][name]" title="Name of skill" id="skills-{skillNum}-name" value="{skills-{skillNum}-name}" type="text"></td>
                    <td class="unit"><!-- USE A DROP-DOWN FOR THIS... --><input class="text" name="skills[{skillNum}][ability]" title="Ability" id="skills-{skillNum}-ability" value="{skills-{skillNum}-ability}" type="text"><!-- USE A DROP-DOWN FOR THIS... --></td>
                    <td class="char"><input class="chk" name="skills[{skillNum}][is_class]" {skills-{skillNum}-is_class} id="skills-{skillNum}-is_class" type="checkbox"></td>
                    <td class="unit"><input class="text" name="skills[{skillNum}][total]" title="Total skill modifier" value="{skills-{skillNum}-total}" type="text"></td>
                    <td class="char">=</td>
                    <td class="unit"><input class="text" name="skills[{skillNum}][abilitymod]" title="abilitymod" value="{skills-{skillNum}-abilitymod}" type="text"></td>
                    <td class="char">+</td>
                    <td class="unit"><input class="text" name="skills[{skillNum}][ranks]" title="Ranks" id="skills-{skillNum}-ranks" value="{skills-{skillNum}-ranks}" type="text"></td>
                    <td class="char">+</td>
                    <td class="unit"><input class="text" name="skills[{skillNum}][miscmod]" title="Miscellaneous modifier" id="skills-{skillNum}-miscmod" value="{skills-{skillNum}-miscmod}" type="text"></td>
                  </tr>
                  <!-- END skillRow -->
                  
		                  <tr class="footer">
                    <td>Total Skill Points:</td>
                    <td>
                    </td><td>
                    </td><td>
                    </td><td>
                    </td><td>
                    </td><td>
                    </td><td class="total"><span id="totalranks">{skills_total_points}</span></td>
                    <td>
                    </td><td>
                  </td></tr>
                </tbody></table>

              </td>
              <td class="spacer"></td>

              <td id="featsandgearcontainer">

                <!--
                  table#feats is the feats table.
                -->
                <table id="feats" border="10">
                  <tbody><tr class="title">
                    <td colspan="4">Feats &amp; Special Abilities</td>
                  </tr>
                  <!-- BEGIN featsAbilitiesRow -->
                  <tr>
                    <td>
                      
                      <!--
                        Keep each column in a table to enforce a vertical tab order.
                        It's easier to do this rather than specify the tab order of
                        each of the thousand or so inputs.
                      -->
                      <input name="featsAbilities[{featAbNum}]" title="This is a feat (or a special ability)" id="" value="{featsAbilities-{featAbNum}}" type="text">

                    </td>

                  </tr>
                  <!-- END featsAbilitiesRow -->
                </tbody></table>

                <table id="gear" cellspacing="0">
                  <tbody><tr class="title">
                    <td colspan="3">Other Possessions</td>
                  </tr>
                  <tr class="header">
                    <td class="name"><div id="sortGear_ByName" title="Sort by Item">Item</div></td>
                    <td class="unit"><div id="sortGear_ByWeight" title="Sort by Weight">Weight<br>(lbs)</div></td>
                    <td class="unit"><div id="sortGear_ByLoc" title="Sort by Location">Loc</div></td>
                  </tr>

				<!-- BEGIN gearSlot -->
                  <tr class="slot">
                    <td><input class="name" name="gear[{gsNum}][name]" title="Item name/description" value="{gear-{gsNum}-name}" type="text"></td>
                    <td><input name="gear[{gsNum}][weight]" title="Item weight" value="{gear-{gsNum}-weight}" type="text"></td>
                    <td><input name="gear[{gsNum}][location]" title="Gear0101Loc" value="{gear-{gsNum}-location}" type="text"></td>
                  </tr>
				<!-- END gearSlot -->
		
                  <tr class="footer">
                    <td>Total Weight:</td>
                    <td class="total"><span id="totalweight" title="Includes only items in this list.">{total_weight_carried}</span></td>
                    <td>
                  </td></tr>
                </tbody></table>

              </td>
            </tr>
          </tbody></table>

           <table id="notes" style="width: 100%;" width="100%">
            <tbody><tr class="header">
              <td>Notes</td>
            </tr>
            <tr>
              <td><textarea name="misc[notes]" title="Notes" cols="10" rows="10"></textarea></td>
            </tr>
          </tbody></table>
   
          

        </td>
        
        <td style="border:solid #000 10px;">
          <!-- Right buffer cell -->
        </td>
      </tr>
    </tbody></table>
<input type="submit">
  </form>

