<div>
	<div><a href="character/sheet.php?id=">Create a new character</a></div>
	<ul>
		<!-- BEGIN characterList --><li><a href="character/sheet?id={id}">{name}</a></li><!-- END characterList -->
	</ul>
</div>