@charset "utf-8";
/*
 * ID: $Id$
 */

div.tile {
	width:   32px;
	height:  32px;
	margin:  0px;
	padding: 0px;
	border:  0px;
	overflow: visible;
	display:  inline-block;
}

div.tile img {
	margin-top: none;
	display: inline-block;
	vertical-align: middle;
}

div.tile span {
	height: 100%;
	width: 100%;
}

div.gridShown {
	border: solid #000 1px;
}

td.highlight {
	background-color: lightCoral;
}

.readyToMove {
	background-color: yellow;
}

/* This doesn't actually make it vertical (that's for javascript); just adds minor styling. */
.vertical-text {
	padding-left:1px;
	padding-right:2px;
}

th.mapHeader {
	background-color:#CCC;
}

div.table {
	display:table;
	border:solid #000 1px;
}
div.tr {
	display:table-row;
}
div.th {
	display:table-cell;
	font-weight:bold;
	border:solid #000 1px;
}
div.td {
	display:table-cell;
	border:solid #000 1px;
}

div.floatingBox {
	background-color: LightGrey;
	border: solid #000 3px;
	padding: 6px;
}
