<div>
	<div><a href="create.php">Create a new character</a></div>
	<div>
		<!-- BEGIN charactexrList --><div><a href="character/edit/{character_id}">x{character_name}</a></div><!-- END characterList -->
	</div>
</div>