<table style="border-right:solid #000 1px;">
 <tr> 
 	<td align="center" nowrap="nowrap" class="noul">
 		<a href="javascript:void()">Sign Up</a>
 	<br>
 	<br>
 	</td>
 </tr>
 <tr> 
 	<td align="center" nowrap="nowrap" class="noul">
 		<a href="javascript:void()">New Session</a>
 	<br>
 	<br>
 	</td>
 </tr>
 </table>