<link rel="stylesheet" href="/css/ttorp/shared.css" type="text/css">
<div>
	<div><a href="character/sheet.php">Create a new character</a></div>

	<table border="0" id="campaigns" class="campaign list">
	<!-- BEGIN campaignListing -->
		<tr>
			<th colspan="3" class="campaignList header">{campaign_name}</th>
		</tr>
		<tr>
			<th class="indent">&nbsp;</th>
			<th>Character Name</th>
			<th>Level</th>
		</tr>
		<!-- BEGIN characterList --><tr>
			<td>&nbsp;</td>
			<td style="border:2px,2px,2px;"><a href="{PAGE_URI}/sheet?id={id}">{character_name}</a></td>
			<td>{character_level}</td>
		</tr>
		<!-- END characterList -->
	<!-- END campaignListing -->
	</table>
	<div class="note">Powered by <b>{CSBT_project_name}, v{CSBT_version}</b></div>
</div>
