
<div class="csbt_title">TTORP Campaign Page</div>

<div class="csbt_info">Select a campaign to do... stuff.</div>
<a href="#newCampaign" onClick="createDialog('newCampaign')">Create a new campaign...</a>

<div class="hidden" id="hiddenDialogs">
	<div class="dialog" id="newCampaign" title="Create New Campaign" style="width:500">
		<table>
			<tr>
				<th>Campaign Name</th>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><textarea></textarea></td>
			</tr>
		</table>
	</div>
</div>
