
<h3>Test map</h3>


<table class="ttorp" border="1" cellpadding="3" cellspacing="3">
	<tr>
		<td class="column_1 row_1" id="coord_1-1"></td>
		<td class="column_2 row_1" id="coord_1-2"></td>
		<td class="column_3 row_1" id="coord_1-3"></td>
		<td class="column_4 row_1" id="coord_1-4"></td>
		<td class="column_5 row_1" id="coord_1-5"></td>
	</tr>
	<tr>
		<td class="column_1 row_2" id="coord_2-1"></td>
		<td class="column_2 row_2" id="coord_2-2"></td>
		<td class="column_3 row_2" id="coord_2-3"></td>
		<td class="column_4 row_2" id="coord_2-4"></td>
		<td class="column_5 row_2" id="coord_2-5"></td>
	</tr>
	<tr>
		<td class="column_1 row_3" id="coord_3-1"></td>
		<td class="column_2 row_3" id="coord_3-2"></td>
		<td class="column_3 row_3" id="coord_3-3"></td>
		<td class="column_4 row_3" id="coord_3-4"></td>
		<td class="column_5 row_3" id="coord_3-5"></td>
	</tr>
	<tr>
		<td class="column_1 row_4" id="coord_4-1"></td>
		<td class="column_2 row_4" id="coord_4-2"></td>
		<td class="column_3 row_4" id="coord_4-3"></td>
		<td class="column_4 row_4" id="coord_4-4"></td>
		<td class="column_5 row_4" id="coord_4-5"></td>
	</tr>
	<tr>
		<td class="column_1 row_5" id="coord_5-1"></td>
		<td class="column_2 row_5" id="coord_5-2"></td>
		<td class="column_3 row_5" id="coord_5-3"></td>
		<td class="column_4 row_5" id="coord_5-4"></td>
		<td class="column_5 row_5" id="coord_5-5"></td>
	</tr>
</table>
	<div class="dialog hidden" id="newCampaign" title="Create New Campaign" style="width:500">
		<table>
			<tr>
				<th>Campaign Name</th>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><textarea></textarea></td>
			</tr>
		</table>
	</div>
