
<h3>Test map</h3>

<!-- div class="table">
	<div class="tr">
		<div class="th">Header 1</div>
		<div class="th">Header 2</div>
		<div class="th">Header 3</div>
	</div>
	<div class="tr">
		<div class="td">cell in column 1</div>
		<div class="td">cell in column 2</div>
		<div class="td">cell in column 3</div>
	</div>
</div -->


	<div id="debug">N/A</div>
	<div class="map tokens" id="allTokens"></div>
	<div>
		<input type="button" id="input_addToken" value="Add Token" OnClick="javascript:createDialog('newToken')">
	</div>
	<input type="button" id="input_loadMap" value="Load map:">
		<input type="text" id="input_mapUrl" value="/images/ttorp/04_HeroesHorror_300_ppi_a29yq.jpg" size="40">
		(<a href="#reset" id="resetMap" class="badLink">reset</a>)
	<div class="dialog hidden" id="newToken" title="Create New Token" style="width:500">
		<table>
			<tr>
				<th>Token Name</th>
				<td><input id="newTokenName" type="text" /></td>
			</tr>
		</table>
	</div>

<!-- p>NOTE::: Coordinates are "coord_(x)-(y)", where "(x)" is the x-axis or column #, and "(y)" is the row.</p -->
{ttorpTable}
