
<h3>Test map</h3>


<table class="ttorp" border="1" cellpadding="3" cellspacing="3">
	<tr>
		<td class="column_1 row_a" id="a1"></td>
		<td class="column_2 row_a" id="a2"></td>
		<td class="column_3 row_a" id="a3"></td>
		<td class="column_4 row_a" id="a4"></td>
		<td class="column_5 row_a" id="a5"></td>
	</tr>
	<tr>
		<td class="column_1 row_b" id="b1"></td>
		<td class="column_2 row_b" id="b2"></td>
		<td class="column_3 row_b" id="b3"></td>
		<td class="column_4 row_b" id="b4"></td>
		<td class="column_5 row_b" id="b5"></td>
	</tr>
	<tr>
		<td class="column_1 row_c" id="c1"></td>
		<td class="column_2 row_c" id="c2"></td>
		<td class="column_3 row_c" id="c3"></td>
		<td class="column_4 row_c" id="c4"></td>
		<td class="column_5 row_c" id="c5"></td>
	</tr>
	<tr>
		<td class="column_1 row_d" id="d1"></td>
		<td class="column_2 row_d" id="d2"></td>
		<td class="column_3 row_d" id="d3"></td>
		<td class="column_4 row_d" id="d4"></td>
		<td class="column_5 row_d" id="d5"></td>
	</tr>
	<tr>
		<td class="column_1 row_e" id="e1"></td>
		<td class="column_2 row_e" id="e2"></td>
		<td class="column_3 row_e" id="e3"></td>
		<td class="column_4 row_e" id="e4"></td>
		<td class="column_5 row_e" id="e5"></td>
	</tr>
</table>
	<div class="dialog hidden" id="newCampaign" title="Create New Campaign" style="width:500">
		<table>
			<tr>
				<th>Campaign Name</th>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><textarea></textarea></td>
			</tr>
		</table>
	</div>
