This is the test site for CS-Battle Tracker.  It's for creating IM-like 
environments with a few other advanced options... later, it'll store a character's 
vital statistics, stored items, along with eventually displaying maps.  Those 
maps will then allow the DM to see where the characters/monsters are, and players
can select areas affected by spells, paths they'll take, etc. 
