/* SVN INFO
 * 
 * $Id$
 */

 .header {
 	text-align: center;
	font-size: 2em;
 }
 .headerLink {
	padding-left: 5em;
 	display: inline;
 }
.note {
	border: solid #666 1px;
	text-decoration: italic;
	padding: 3px;
	text-align: center;
}
.todo {
	text-align: left;
}
.campaignList {
	border:solid #000 1px; 
	width: auto;
	margin: 3px; 
	padding:3px;
}
.campaignBox {
	display: inline-block;
	width: 49%;
	overflow:auto;
	border: dashed #000 1px;
	vertical-align: top;
}

table.campaign.list tr td:first-child, table.campaign.list tr th:first-child {
	border-left:solid #000 1px;
}
table.campaign.list tr td:last-child, table.campaign.list tr th:last-child {
	border-right: solid #000 1px;
}
table.campaign.list tr:nth-child(odd) {
	background-color: ddd;
}
table.campaign.list tr:nth-child(even) {
	background-color: #eee;
}
table.campaign.list tr td {
	padding:3px;
	margin:0px;
}
table.campaign.list {
	border-spacing: 0px 0px;
}
table.campaign.list tr:last-child td {
	border-bottom: solid #000 1px;
}

.campaignBox .note {
	border: none;
}
.dialog {
	width: 500px;
}
